mat-form-field
{
margin-left:10px;
}
mat-form-field
{
    width: 201px;

}
.branchdata{
    height: 83px;
}
mat-grid-list{
    padding-top: 0px;}


mat-list{
float:right;

    }
.buttons{
    margin-left: 45%;
    }